$lightpurple: #C1B2DB
$lightgreen:#D9D7C1
$darkgreen:#8C8A6F
$darkpurple:#6C618C    
$fontcolor: rgb(92, 92, 92)
$formbordercolor:rgba(0, 0, 0, 0.02)
$formfocusbordercolor:rgba(0, 0, 0, 0.18) 
$formbackground:rgba(136, 126, 126, 0.04)
$formfontcolor: rgb(38, 50, 56)

.container
    background-color: white
    // align-self: center
    border-radius: 1em
    // width: 65em
    color:$fontcolor
    // padding: 1em 2em 1em 2em
    margin: 0 auto
   

h1  
    color:$darkpurple
    font-size: 70px
    text-align: center
    
    
h2
    padding-bottom: .5em
    text-align: center
.plant-number
    color:$lightpurple
    font-size: 40px