 
 <div class="container-fluid">
    <div class="row">
  
      <main role="main" class="">
        <div class="inner-adjust">
  
         
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="">
              <div class="media">
               
                <div class="media-body">
                  <h1>Hello <strong>{{user.displayName | titlecase}}!</strong></h1>             
                  <app-plant-list></app-plant-list>
                 <app-plant-form></app-plant-form>
                 
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </main>
  
    </div>
  </div>