<!-- Yeah I know, the name, slight oversight -->

<div> </div>

<table class="table table-hover student-details-table-width">
   

        <th>I See It, I Like It, I Want It...</th>
        <th></th>

        <!-- <th>Remove</th> -->
    
    
        <tr *ngFor="let plant of wishlist">

            <td>{{plant.name}}</td>

            <!-- <td><button class="btn text-warning" (click)="onEdit(plant)"><i class="fa fa-edit" title="Edit"></i>Opps</button></ td> -->
            <td><button class="btn text-danger" (click)="onDelete(plant)"><i class="fa fa-trash" title="Remove"></i>I Got It</button></td>
        </tr>
    
</table>

<div class="error" *ngIf="deleteMessage">
    <h5 class="text-dark">{{ deleteMessage }}</h5>
</div>