$lightpurple: #C1B2DB
    
    
body
    height:auto
    background-color: #D9D7C1
    font-family:'Brandon Grotesque','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

.container
    display:flex
    justify-content: center
     